<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/m/jquery.mobile.css" />
    <script src="/m/jquery.js" type="text/javascript"></script>
    <script src="/m/jquery_ujs.js" type="text/javascript"></script>
    <script src="/m/application.js" type="text/javascript"></script>
    <script src="/m/jquery.mobile.js" type="text/javascript"></script>

    <title><%= @page_title %> | プライベート掲示板モバイル</title>
    <%= csrf_meta_tag %>

<script type="text/javascript">
window.google_analytics_uacct = "UA-25518381-4";
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25518381-4']);
  _gaq.push(['_setDomainName', '.nslabs.jp']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
<body>

<div data-role="page">
  <header data-role="header">
    <h1><%= @page_title %></h1>
<% if @back_button %>
    <%= link_to "戻る", @back_button, 
                        {"data-icon" => "back", "data-iconpos" => "notext"} %>
<% end %>
<% if controller.current_user %>
    <%= link_to "ユーザ情報", 
         ::WebBoard::Application.config.accounts_app_url + "/users/show/#{Accounts::User.find_by_login(controller.current_user.login).id}", 
         :class => "ui-btn-right" %>
<% end %>
  </header><!-- header -->

  <div data-role="content">
<% if (s = notice) %>
    <p id="notice"><%= s %></p>
<% end %>
<% if (s = alert) %>
    <p id="alert"><%= s %></p>
<% end %>



<%= yield %>
  </div><!-- content -->

<hr />
<footer>
<p align="right">プライベート掲示板 powered by Q's Web Board.
</footer>

</div><!-- page -->


</body>
</html>

