
<!begin:if-alert>
<div style="border:solid 3px red; padding:6px; margin-bottom:1em;">
<!var:message>
</div>
<!end:if-alert>

<form method="post" enctype="multipart/form-data" action="./post.rb">
  <input type="hidden" name="action" value="post">
  <input type="hidden" name="number">
<table class="form">
<!begin:if-auth>
  <tr><th nowrap align="right">投稿者:
    <td><!var:name><input type="hidden" name="user"></td>
  </tr>
<!end:if-auth>
<!begin:if-no-auth>
  <tr><th nowrap align="right">投稿者:<td><input type="text" name="user" size="65">
<!end:if-no-auth>
  <tr>
    <th align="right">返信:
    <td><input type="text" name="re" size="20"> 投稿番号を空白で区切って書けます.
  </tr>
  <tr>
    <th align="right" valign="top" nowrap>本文：
    <td>
      <input type="radio" name="bodytype" value="text" id="typetext" checked>
      <label for="typetext">プレーンテキスト</label> &nbsp;
      <input type="radio" name="bodytype" value="html" id="typehtml">
      <label for="typehtml">HTML</label>
      <br>
      <textarea rows="8" cols="65" name="body"></textarea>
    </td>
  </tr>
  <tr>
    <th align="right">添付：
    <td><input type="file" name="file" size="30">
  </tr>
  <tr>
    <th align="right" nowrap>メール<br>配信：
    <td><input type="checkbox" name="deliver"><!var:deliv>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <hr>
      <input type="submit" name="submit" value="投稿/更新"> ||
      <!var:prev-link> &nbsp; <!var:next-link> &nbsp; 
      <a href="./">[最新の <!var:page-size> 件]</a>
    </td>
  </tr>
</table>
</form>

<ul style="margin-top:0">
  <li>[投稿/更新]ボタンを連続して押さないでください。特に添付ファイルがある時は反応がかなり遅くなります。
</ul>
<p>プレーンテキストの場合：
<ul style="margin-top:0">
  <li>引用は行頭で'&gt;'（半角大なり）。「返信」リンクをクリックすると，自動的に付加されます。
  <li>強調したいときは、&lt;em&gt;〜&lt;/em&gt;
</ul>

<table border="0">
  <tr><td><a href="users.rb">[ユーザ一覧]</a>
    <td>参加者一覧とそのプロフィール。プロフィールの変更もこちらから。
</table>

<form method="get" action="./search.rb">
  <table class="form" style="margin-top:1em">
    <tr><th>全文検索: 
      <td><input type=text name="text"> <input type="submit" value="検索">
  </table>
</form>
