
<% @page_title = "Home" %>

<p>「プライベート掲示板」は、グループメンバだけが見たり書き込んだりできる掲示板です。


<h2>特徴</h2>

<dl>
  <dt>グループのメンバだけが見たり書き込んだりできます。
  <dd>グループに参加していない人 (一般を含む。) には、書き込んだ内容は見えません。

  <dt>WYSIWYG (What You See Is What You Get)
  <dd>投稿フォームで、文字の色や大きさを自由に変更できます。いくらか顔文字も使えます。

  <dt>スレッド表示
  <dd>スレッドをツリー状に並べて表示します。

  <dt>登録・利用は無料。
  <dd>月々の利用料そのほか、登録・利用に当たって、料金はいっさい発生しません。
</dl>





<h2>使い方</h2>

<p><a href="http://accounts.nslabs.jp/">Netsphere Accounts</a> からユーザ登録します。

<p>ユーザグループを作り、参加してほしい人を招待します (招待制)。メンバでない人が既存のユーザグループに参加を申し込むことはできません。

<p>アプリケーション登録で、掲示板を作成します。

<p>投稿フォーム画面サンプル: <br />
<img src="images/editor.png" />








<h2>What's New!</h2>


<h3>2011.10.28</h3>

<p>Q's Web Board v2.0 にバージョンアップ。

<p>Known Issues::
<ul>
  <li>添付ファイル
  <li>ケータイでは (おそらく) 使えない
</ul>

  
<h3>2011.11.15</h3>

<p>ケータイ (スマートフォン専用) 対応。実機がないのでテストしていません。
