
<% @page_title = "新しいスレッド" %>

<% @back_button = "/m/boards/#{@board.id}" %>

<%= form_for [@board, @post], :url => {:action => "create_post"}, 
                    :html => {:enctype => "multipart/form-data"} do |f| %>
  <%= error_messages_for :post %>
<%= f.text_area "body" %>
<%= f.hidden_field "reply_to" %>
<input type="submit" name="submit" value="投稿" />
<% end %>
