
<% @back_button = "/m/boards/#{@board.id}" %>

<article>
  <div>
<%= @post.created_at %> <%= @post.user.name %>
  </div>
  <div>
<%= @post.body.html_safe %>
  </div>
</article>

<p><%= link_to "返信する...", :action => "new_post", :board_id => @board, :reply => @post %>
