
<% @page_title = @board.name %>


新しいスレッド:
<%= form_for [@board, @post], :html => {:enctype => "multipart/form-data"} do |f| %>
  <%= error_messages_for :post %>

<table class="form">
  <tr>
    <td colspan="2">
      <%= f.text_area "body", :id => "editor_new", :cols => 60, :rows => 5 %>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="submit" value="投稿" /> 
</table>
<% end %>


<script type="text/javascript">//<![CDATA[
function replace_editor(textarea_id) {
  // return;
  CKEDITOR.replace( textarea_id, {
    height: 100,
    width: 450,
    toolbar: [
      ['Undo', 'Redo'], 
      ['Bold', 'Italic', 'Underline', 'Strike', 'TextColor', 'BGColor', 'FontSize'],
      ['NumberedList', 'BulletedList', 'Table'], ['Smiley']
    ]} 
  );
}
  
function reply_form( post_id ) {
  var form = $('new_post').cloneNode( true );
  var body = form.getElementsByTagName("textarea")[0];
  body.id = "editor" + post_id;

  // 元のエディタを削除
  var e = form.getElementsByTagName("span")[0];
  e.parentNode.removeChild(e);

  form.appendChild( new Element("input", {type: "hidden", 
                                     name: "post[reply_to]", value: post_id}) );
  var e = $('reply' + post_id);
  while (e.firstChild) {
    e.removeChild(e.firstChild);
  }
  e.appendChild( form );
  replace_editor("editor" + post_id);
}

replace_editor("editor_new");
//]]>
</script>



<%= will_paginate @posts %>

<% (1 .. @threads.children.size).each do |ri| %>
<%= render :partial => "post", 
        :locals => {:node => @threads.children[@threads.children.size - ri]} %>
<% end %>


<%= will_paginate @posts %>
