
<% # モバイル用. 表示と書き込みを分ける
   @page_title = @board.name %>

<p><%= link_to "[新しいスレッド...]", :action => "new_post", :board_id => @board %>
<ul data-role="listview">
<% @posts.each do |post| %>
  <li><%= tag "a", {:href => "/m/boards/#{@board.id}/#{post.id}"}, true %>
      <h3><%= post.user.name %></h3>
<%= post.body.html_safe %>
      <p class="ui-li-aside"><%= post.created_at %></p>
    </a>
  </li>
<% end %>
</ul>
