<HTML>
<HEAD>
<TITLE></TITLE>
</HEAD>
<BODY>
<form action="demo.cgi" method="POST">
<table>
<tr>
  <td>テキスト: </td><td><input type="TEXT" name="name" size="20"></td>
</tr>  
<tr>
  <td>ラジオ: </td><td><input type="RADIO" name="radio" value="A">A / <input type="RADIO" name="radio" value="B">B</td>
</tr>
<tr>
  <td>チェック: </td><td><INPUT type="CHECKBOX" name="check" value="C">C / <INPUT type="CHECKBOX" name="check" value="D">D</td>
</tr>
<tr>
  <td>セレクト: </td>
  <td>
      <select name="select">
	<option value="">--</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
      </select>
  </td>      
</tr>
<tr>
  <td>セレクト(マルチプル): </td>
  <td>
      <select name="select" multiple="true">
	<option value="100">100</option>
	<option value="200">200</option>
	<option value="300">300</option>
	<option value="400">400</option>
      </select>
  </td>      
</tr>
<tr>
  <td>テキスト: </td>
  <td>
      <textarea name="textarea"></textarea>
  </td>      
</tr>

<tr>
  <td> </td><td><input type="submit" name=".submit" value=" 送信 ">
      <input type="reset" name=".reset" value=" リセット "></td>
</tr>  

</table>

</form>
</BODY>
</HTML>
