

<% post = node.value %>

<article>
  <div style="background-color:#eeeeff">
<%= post.created_at %> <%= post.user.name %>
  </div>
  <div>
    <%= Sanitize.fragment(post.body, Sanitize::Config::RELAXED).html_safe %>
  </div>

<% if !post.attach_files.empty? %>
  <div>
<%   post.attach_files.each do |a| %>
添付: TODO::::
<%   end %>
  </div>
<% end %>
</article>

<% if !node.children.empty? %>
<blockquote style="border-left:solid 3px #eeeeee; margin-left:1.5em">
<%   node.children.each do |child| %>
<%= render :partial => "post", :locals => {:node => child} %>
<%   end %>
</blockquote>
<% end %>

<%= tag "blockquote", {:id => "reply#{post.id}", :style => "margin-left:1em"}, true %>
  <%= tag "a", {:href =>"#", :onclick =>"reply_form(#{post.id}); return false;"}, true %>返信する...</a>
</blockquote>
