
<% @page_title = @board.name %>


<b>新しいスレッド:</b>
<%= form_for [@board, @post], :html => {:enctype => "multipart/form-data"} do |f| %>
  <%= error_messages_for :post %>

<table class="form">
  <tr>
    <td colspan="2">
      <%= f.text_area "body", :id => "editor_new", :cols => 60, :rows => 5 %>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="submit" value="投稿" /> 
</table>
<% end %>


<script type="text/javascript">//<![CDATA[
function replace_editor(textarea_id) 
{
  CKEDITOR.replace( textarea_id, {
    height: 200,
    width: 520,
    toolbar: [
      ['Templates'],
      ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo'], 
      ['NumberedList', 'BulletedList', 'Blockquote', 'Table'], 
      ['Source', 'Preview'],
      '/',
      ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 
       '-', 'TextColor', 'BGColor'],
      ['FontSize', '-', 'RemoveFormat'],
      ['Link', 'Image', 'Smiley', 'Flash']
    ]} 
  );
}

  
function reply_form( post_id ) {
  var form = $('new_post').cloneNode( true );
  var body = form.getElementsByTagName("textarea")[0];
  body.id = "editor" + post_id;

  // 元のエディタを削除
  var e = form.getElementsByTagName("span")[0];
  e.parentNode.removeChild(e);

  form.appendChild( new Element("input", {type: "hidden", 
                                     name: "post[reply_to]", value: post_id}) );
  var e = $('reply' + post_id);
  while (e.firstChild) {
    e.removeChild(e.firstChild);
  }
  e.appendChild( form );
  replace_editor("editor" + post_id);
}

replace_editor("editor_new");
//]]>
</script>



<%= will_paginate @posts %>

<% (1 .. @threads.children.size).each do |ri| %>
<%= render :partial => "post", 
        :locals => {:node => @threads.children[@threads.children.size - ri]} %>
<% end %>


<%= will_paginate @posts %>
