@charset "UTF-8";

body, table, textarea {
  font-size: 10.5pt;
}

body {
  color: #000000;
  background-color: #ffffff;
}

h1 {
  font-size: 16pt;
}

.form {
  background-color: #cccccc;
}

.msg-header, .msg-header a {
  margin-top: 1em;
  color: 333399;
  background-color: #99ccff;
}

blockquote {
  /* スレッド表示 */
  margin: 0 0 1em 1em;
        /* top, right, bottom and left */
  border-style: solid;
  border-width: 0 0 0 1;
  border-color: #000066;
  padding: 0 0 0 0.5em;
}

.msg-quote {
  /* 引用 */
  color: #009966;
}

.category {
  /* 現在のカテゴリ */
  background-color: #99cccc;
}

.reply {
  /* 〜への返信 */
  color: #333399;
}

.attach {
  /* 添付ファイル：〜 */
  color: #ff6600;
}

.follow {
  /* follow-up(s): 〜 */
  color: #333399;
}

em {
  font-size:18pt;
  font-weight: bold;
  color: red;
  font-style: normal
}
