<!DOCTYPE html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/javascripts/modernizr.js"></script>
<![endif]-->

  <meta name="google-site-verification" content="Rx_-cPXTYxfv109RXb-AsVe115w8R927jVWnOfZAOyo" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="start" href="http://board.nslabs.jp/" />
  <base target="_top" />

  <title><%= @page_title %> | グループ掲示板</title>
  <%= stylesheet_link_tag 'application', media: 'all', 
                          'data-turbolinks-track' => true %>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery_ujs.js" type="text/javascript"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<% if params[:controller] == "boards" %>
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<% end %>

<script type="text/javascript">
window.google_analytics_uacct = "UA-25518381-4";
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25518381-4']);
  _gaq.push(['_setDomainName', '.nslabs.jp']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>

<header id="header">
<% if current_user %>
  <p align="right"><%= current_user.name %> 
  <%= link_to "[ユーザ情報]", 
         ::WebBoard::Application.config.accounts_app_url + "/users/show/#{current_user.login}" %>
  <%= link_to "[ログアウト]", 
         ::WebBoard::Application.config.accounts_app_url + "/account/logout", 
         :method => :get %>
<% else %>
  <p align="right">(Not logged in)
  <%= link_to "[ログイン...]", 
         ::WebBoard::Application.config.accounts_app_url + 
               "/account/login?return_to=" + request.original_url %>
<% end %>
</header>




<aside style="float:right; margin-left:1em; margin-bottom:2em">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1525727753584386";
/* 160x600, 作成済み 09/02/25 */
google_ad_slot = "9864589493";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</aside>





<h1><%= @page_title %> | プライベート掲示板</h1>

<% if (s = notice) %>
<p id="notice"><%= s %></p>
<% end %>
<% if (s = alert) %>
<p id="alert"><%= s %></p>
<% end %>





<%= yield %>


<hr />
<footer>
  <p align="right">プライベート掲示板 powered by <a href="http://www.nslabs.jp/">Q's Web Board</a>.
</footer>

</body>
</html>
