<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's WebBoard</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY>



<h2>$B35MW(B / Features</h2>

<p>Q's WebBoard is a Web bulletin board for private groups. Because it uses the authentication mechanism of the Web server, only users who have their IDs and passwords can view and write.

<ul>
  <li>For users:
    <ul>
      <li>When you pass the authentication of the Web server, your favorable name is automatically set.
      <li>You can put the comment on a past writing; and the writing is automatically quoted.
      <li>You can search of full-text.
      <li>You can attach a file.
      <li>You cannot use HTML tags.
    </ul>
  <li>For administrators:
    <ul>
      <li>You can choose the thread or list view.
      <li>You can delete a writing.
    </ul>
</ul>

<p>Q's WebBoard$B$O%W%i%$%Y!<%H8~$1$N(BWeb$B7G<(HD$G$9!#(BWeb$B%5!<%P!<$NG'>Z$rMQ$$$k$3$H$G!$(BID$B$H%Q%9%o!<%I$,$"$k?M$N$_1\Mw!$=q$-9~$_$G$-$k$h$&$K@_Dj$G$-$^$9!#(B

<ul>
  <li>$BMxMQ<T8~$1!'(B
    <ul>
      <li>HTTP$B%5!<%P!<$NG'>Z$r<u$1$F$$$k>l9g$OH/8@<TL>$r<+F0$G@_Dj!#$5$i$K@_Dj%U%!%$%k$r;2>H$7$FF|K\8l$NH/8@<TL>$KJQ49!#(B
      <li>$BF10lFbMF$NB?=EH/8@$OL5;k(B
      <li>$B%?%0$OIT2D(B
      <li>$B9TF,$N(B'&gt;'$B$O0zMQ$H$7$F?'$rJQ$($k(B
      <li>$BJL$NH/8@$X$N%j%s%/$rD%$l$k!#%j%s%/$rD%$i$l$?H/8@$+$i$N%j%s%/$bI=<((B
      <li>$BE:IU%U%!%$%k$rIU$1$l$k!#(B
      <li>$B!VJV?.!W%\%?%s$G0zMQ$G$-$k(B
      <li>$B2a5n$NH/8@$rA4J88!:w$G$-$k!#(B
    </ul>
  <li>$B4IM}<T8~$1!'(B
    <ul>
      <li>$B%9%l%C%II=<(2DG=!#(B
      <li>$B4IM}<T8"8B$GH/8@$r:o=|$G$-$k(B
    </ul>
</ul>


<hr>
<h2>$BF3F~(B / Install</h2>

<p>$B%"!<%+%$%V$N(Bpublic/$B0J2<$N%U%!%$%k$O!$(Bpublic_html/board/$B$J$I$KCV$$$F30It$K8x3+$9$k%U%!%$%k!$(Bprivate/$B0J2<$N%U%!%$%k$O!$(Bpublic_html$B$N30$KCV$$$FD>@\%f!<%6!<$,8+$($J$$$h$&$K$9$k%U%!%$%k$G$9!#(B

<table class="tbline" border="0" cellspacing="0">
  <tr><th class="tbline">$B%U%!%$%k(B      <th class="tbline">$B@bL@(B
  <tr><td>public_html/
  <tr><td>$B(&(B board/
  <tr><td>$B!!!!('(B admin.cgi     <td>$B4IM}<T:o=|$r9T$&(B
  <tr><td>$B!!!!('(B board.cgi     <td>$B7G<(HD$NK\BN(B
  <tr><td>$B!!!!('(B board.conf    <td>$B@_Dj%U%!%$%k(B
  <tr><td>$B!!!!('(B board.rb      <td>$B7G<(HD$N%5%V%U%!%$%k(B
  <tr><td>$B!!!!('(B default.css   <td>$B%9%?%$%k$r7h$a$k%U%!%$%k(B
  <tr><td>$B!!!!('(B dot.htaccess  <td>.htaccess
  <tr><td>$B!!!!('(B index.htm     <td>$B%U%l!<%`I=<($r9T$&$?$a$N(BHTML$B%U%!%$%k(B
  <tr><td>$B!!!!('(B search.cgi    <td>$B8!:w5!G=(B
  <tr><td>$B!!!!('(B attach/       <td>$BE:IU%U%!%$%k$rJ]B8$9$k%G%#%l%/%H%j(B

  <tr><td>private/
  <tr><td>$B('(B admin-pwd    <td>$B4IM}<T%Q%9%o!<%I!#(Badmin.cgi$B$+$i;2>H(B
  <tr><td>$B('(B check        <td>$B=EJ#H/8@%A%'%C%/MQ%U%!%$%k(B
  <tr><td>$B('(B counter      <td>$BH/8@HV9f(B
  <tr><td>$B('(B htpwd        <td>Web$B%5!<%P!<G'>ZMQ%Q%9%o!<%I!#(B.htaccess$B$+$i;2>H(B
  <tr><td>$B('(B kname        <td>personalize$BMQ%G!<%?!#8=>u$OL>A0$@$1(B
  <tr><td>$B('(B deliver      <td>$B%a!<%kG[?.$9$k%"%I%l%90lMw(B
  <tr><td>$B('(B access.log   <td>$B%"%/%;%9%m%0(B
  <tr><td>$B('(B data/        <td>$BEj9F%a%C%;!<%8$rJ]B8$9$k%G%#%l%/%H%j(B
</table>


<p>$B0J2<$G$O!$%f!<%6!<L>$,(Bfoo, $B%[!<%`%G%#%l%/%H%j$,(B/home/foo, Web$B%5!<%P!<$N8x3+%G%#%l%/%H%j$,(B/home/foo/public_html$B$G(Bhttp://hostname/~foo/$B$N>l9g$rA[Dj$7$^$9!#(B


<ol>
  <li>$B%"!<%+%$%V$N2rE`(B

<pre>
/opt$ tar xzvf board-1.2.2.tar.gz
</pre>

  <li>Ruby$B%Q%9$N=q$-49$((B

<pre>
/opt/board-1.2.2$ ruby pathsetup.rb [Ruby$B$N%Q%9(B]
</pre>

<p>pathsetup.rb$B$N0z?t$r>JN,$7$?>l9g$O!$FbIt$G(Bwhich ruby$B$7$^$9!#(B



  <li>$B%U%!%$%k$N%3%T!<(B

<pre>
/opt/board-1.2.2$ cp -r public /home/foo/public_html/board
/opt/board-1.2.2$ cp -r private /home/foo/board
~/public_html/board$ mv dot.htaccess .htaccess
</pre>

<p>$B%U%l!<%`I=<($9$k>l9g$O!$(Bindex-thread.htm$B$r(Bindex.htm$B$K(Brename$B$7$^$9!#(B



  <li>$BG'>Z$N@_Dj(B

<p>$B1\Mw!$Ej9F$G$-$k?M$r@)8B$9$k>l9g$O!$(BWeb$B%5!<%P!<$NG'>Z$r@_Dj$7$^$9!#(B.htaccess$B%U%!%$%k$r<!$N$h$&$K=q$-49$($^$9!#(B

<pre>
AddHandler cgi-script .cgi .rb
AuthType Basic
AuthName board
AuthUserFile /home/foo/board/htpwd
require user foo
require user user1
require user user2
</pre>

<p>AuthUserFile$BL?Na$O!$%f!<%6!<L>$H%Q%9%o!<%I$,=q$+$l$?%U%!%$%k$NL>A0$r@_Dj$7$^$9!#(BRequire$BL?Na$O%"%/%;%9$r5v$9%f!<%6!<$r@_Dj$7$^$9!#(B

<p>/home/foo/board/htpwd$B%U%!%$%k$NFbMF$O<!$N$h$&$K$J$j$^$9!#(B

<pre>
foo:xuhbSD7.OAq0U
user1:Ga0Ip6b6WnDIg
user2:sW89.ng/qeXpk
</pre>

<p>$B%Q%9%o!<%I%U%!%$%k$N@8@.$O(Bhtpasswd$B%3%^%s%I$rMQ$$$^$9!#>\$7$/$O(B<a href="http://httpd.apache.org/docs/">Apache HTTP Server Version 1.3 Documentation</a>$B$J$I$r;2>H$7$F$/$@$5$$!#(B

<p>$B%f!<%6!<$rDI2C$9$k>l9g$O!$(B.htaccess$B%U%!%$%k$H%Q%9%o!<%I%U%!%$%k$NN>J}$KDI2C$9$kI,MW$,$"$j$^$9!#(B



  <li>Q's WebBoard$B$N@_Dj(B

<p>$B%G!<%?%G%#%l%/%H%j$N@_Dj$J$I$O!$(Bboard-conf.rb$B$G9T$$$^$9!#(B





</ol>






<hr>
<P align=center><font face="Times New Roman"><i>
Copyright (c) 1999-2001 <A HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>
All rights reserved.<br><br>
<a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>
</i></font>

</body>
</html>
