/*
    style sheet for Q's Web Site
*/

A:link { color: #6600FF }
A:visited { color: teal; }
A:active { color: #0066FF; }

body, table {
  font-size: 10pt;
}
body {
  color: black;
}

pre {
    font-family: monospace;
    background-color: #f8f8f8;
    /* color: #ff0000; */
    white-space: pre;
	border-style: solid;
	border-width: 1;
    border-color: #f0f0f0;
}

.comline {
	border-style: solid;
	border-width: 1;
    border-color: blue;
    background-color: #fffff0;
}

.tbline {
  border-color:black;
  border-style:solid;
  border-width:1px 0 1px 0;
}
