<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's WebBoard</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY>




<h2>$BMzNr(B / History</h2>

<p>v1.1.0 2000.01.07 ($BEZ(B)
<ul>
  <li>$B@_Dj%U%!%$%k$r3+$1$J$$>l9g$K%(%i!<%a%C%;!<%8$rI=<($9$k$h$&$K$7$?!#(B
  <li>$BJL$NH/8@$r;2>H$G$-$k$h$&$K$7$?!#(B
</ul>

<p>v1.1.1 2000.01.29 ($BEZ(B)
<ul>
  <li>$B4IM}<T:o=|$OK\Ev$K:o=|$9$k$N$G$O$J$/!$(Bpublic_html$B$N30$X0\F0$9$k$h$&$K$7$?!#(B
  <li>$BE:IU%U%!%$%k$rIU$1$l$k$h$&$K$7$?!#(B
  <li>$B4IM}<T:o=|$5$l$?H/8@$r!V:o=|!W$HI=<($9$k$h$&$K$7$?!#(B
</ul>

<p>v1.2.0 2000.02.20 ($BF|(B)
<ul>
  <li>$B3FH/8@$K!VJV?.!W%\%?%s$rIU$1$?!#(B
</ul>

<p>v1.2.1 2000.03.05$B!JF|!K(B
<ul>
  <li>HTTP_REFERER$B$N%A%'%C%/$rF~$l$k$h$&$K$7$?(B
</ul>

<p>v1.2.2 2000.03.26$B!JF|!K(B
<ul>
  <li>$B8!:w5!G=$rDI2C$7$?!#(B
</ul>

<p>v1.3.0pre1 2000.04.30 ($BF|(B)
<ul>
  <li>$B%9%l%C%II=<(5!G=$rDI2C$7$?!#(B
</ul>

<p>v1.3.1 2000.05.29$B!J7n!K(B
<ul>
  <li>$BJ#?t$NH/8@$X$NJV?.$,$G$-$k$h$&$K$J$C$?!#(B
  <li>$BE:IU%U%!%$%k$N3HD%;R$rJ]B8$9$k$h$&$K$7$?!#(B
  <li>$BH/8@?t$,(B9999$B$rD6$($k>l9g$KBP=h$7$?!#(B
</ul>

<p>v1.3.2 2000.06.24($BEZ(B)
<ul>
  <li>$BH/8@?t$,>/$J$$>l9g$K!$H/8@8eI=<($,$*$+$7$/$J$kLdBj$KBP=h$7$?!#(B
  <li>$B$=$NB>$$$m$$$m(B
</ul>

<p>v1.3.3 2000.07.04($B2P(B)
<ul>
  <li>$B%9%l%C%II=<($N$H$-$NH/8@%(%j%"$rJL$K@_$1$k$3$H$K$7$?!#(B
  <li>$BEj9F$r%-%c%C%7%e$7$F%9%T!<%I%"%C%W$r?^$C$?!#(B
  <li>$B0lIt$N(BWeb$B%V%i%&%6$r9MN8$7!$(BHTTP_REFERER$B%A%'%C%/$r>J$$$?!#(B
</ul>

<p>v1.3.4 2000.11.05($BF|(B)
<ul>
  <li>$BE:IU%U%!%$%k$N3HD%;R$,(B.pl .cgi$B$J$I$N$H$-$K%(%i!<$K$J$kLdBj$KBP=h!#(B
  <li>$B$=$NB>(B
</ul>

<p>v1.3.5 2001.01.14($BF|(B)
<ul>
  <li>Ruby 1.6.2$B$G%(%i!<$K$J$kLdBj$KBP=h(B
</ul>

<p>v1.3.6 2001.03.25($BF|(B)
<ul>
  <li>$B%a%C%;!<%8K\J8$K4^$^$l$k(BURI$B$r(BHTML$B%j%s%/$H$7$FI=<($9$k$h$&$K$7$?!#(B
  <li>Ruby 1.6.3$B$GF0:n3NG'!#(B
  <li>$B$=$NB>(B
</ul>


<p>v1.3.7 2001.04.04($B?e(B)
<ul>
  <li>$B%^%K%e%"%k$r=q$-D>$7$?(B
  <li>$BE:IU%U%!%$%k5!G=$,;H$($J$/$J$C$F$$$?%P%0$r=$@5$7$?(B
</ul>


<p>v1.3.8 2001.11.01($BLZ(B)
<ul>
  <li>$B%"%/%;%9%m%0$r<h$k$h$&$K$7$?!#%Q%9%o!<%I$NO31L$K$h$k@.$j$9$^$7$r;!CN$9$k$N$K;H$($k!#(B
  <li>$B%a!<%kG[?.$G$-$k$h$&$K$7$?!#9pCN$K;H$&$N$KJXMx$K$J$C$?!#(B
  <li>$B4IM}<T$,Ej9F%a%C%;!<%8$r:o=|$G$-$J$/$J$C$F$$$?!)!!=$@5$7$?!#(B
</ul>

<p>1.4.0 2002.04.13($BEZ(B)
<ul>
  <li>$B%j%U%!%/%?%j%s%0!#(B
</ul>




<hr>
<P align=center><font face="Times New Roman"><i>
Copyright (c) 1999-2002 <A HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>
All rights reserved.<br><br>
<a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>
</i></font>

</body>
</html>
