<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Software Common Help</TITLE>
<style type="text/css"><!--
    body {
        font-size: 10pt;
    }
  h1 {
    font-size: 16pt;
    border:solid #000;
    border-width: 0 0 2px 0;
  }
    h3 {
        font-size: 10pt;
        font-weight: bold;
    }
    .n {
        margin-left: 2em;
        margin-top: 0;
    }
-->
</style>
</head>
<body>


<h1>$B%=%U%H%&%'%";HMQ5vBz7@Ls=q(B</h1>

<p>2002$BG/(B1$B7n(B30$BF|HG(B

<p>$B$3$N%=%U%H%&%'%";HMQ5vBz7@Ls=q!J0J2<!VK\5vBz5,Dj!W$H$$$&!#!K$O!$K\%=%U%H%&%'%"$K$D$$$F!$KY@n!!5W!J(Bvzw00011@nifty.ne.jp$B!$0J2<!V9C!W$H$$$&!#!K$,K\%=%U%H%&%'%"$NJ#@=J*$r<uNN$7$?<T!J0J2<!V25!W$H$$$&!#!V25!W$K$OK!?M$b4^$`!#!K$K5vBz$9$k9T0YEy$r5,Dj$9$k!#(B

<p>$BK\5vBz5,Dj$K$*$$$F!VK\%=%U%H%&%'%"!W$H$O!$9C$,@):n$7$?%=%U%H%&%'%"$r$$$$!$%W%m%0%i%`$@$1$G$J$/!$%=!<%9%3!<%I!$%^%K%e%"%kEy$NJ8=q!$@_Dj%G!<%?Ey$r4^$`$b$N$H$9$k!#(B<br>
The "Software" means the software accompanying this license as released by HORIKAWA Hisashi, including source code and documentaition, if any.

<p>$BK\5vBz5,Dj$O!$F|K\8lHG$r@5J8$H$9$k!#K]LuHG$O;29M$H$9$k!#(B<br>
The Japanese version of this license is the only official. The translations of this document are informative.



<h3>$BBh(B1$B>r!JE,MQHO0O!K(B</h3>

<p class="term">(1) $BK\5vBz5,Dj$O!$K\%=%U%H%&%'%"$N%W%m%0%i%`$N<B9T$K$h$C$F@8@.$5$l$?%G!<%?Ey$K$OE,MQ$7$^$;$s!#(B
<p class="term">(2) $BK\5vBz5,Dj$O!$K\%=%U%H%&%'%"$r30It$+$i8F$S=P$9!$FHN)$7$?%=%U%H%&%'%"$K$OE,MQ$7$^$;$s!#(B



<h3>$BBh(B2$B>r!J7@Ls$N@.N)!K(B</h3>

<p class="term">$B25$,K\%=%U%H%&%'%"$K$D$$$FBh(B5$B>r$+$iBh(B10$B>r$K5,Dj$9$k9T0YEy$N$$$:$l$+$r9T$C$?$H$-$K!$25$,K\5vBz5,Dj$N$9$Y$F$NFbMF$KF10U$7$?$b$N$H$7$F!$7@Ls$,@.N)$9$k!#(B



<h3>$BBh(B3$B>r!JCx:n8"Ey!K(B</h3>

<p class="term">(1) $BK\%=%U%H%&%'%"$NCx:n<T?M3J8"!$Cx:n8"$*$h$S$=$NB>$N8"Mx!J0J2<!VCx:n8"Ey!W$H$$$$$^$9!#!K$O!$K\5vBz5,Dj$K5,Dj$9$k9T0YEy$r=|$-!$9C$,FH@jE*$KM-$7$F$$$^$9!#(B
<p class="term">(2) $B25$O!$K\%=%U%H%&%'%"$,Cx:n8"K!$J$ICx:nJ*$K4X$9$kK!Na$*$h$S>rLs$K$h$C$FJ]8n$5$l$F$*$j!$9C$^$?$OBh;0<T$NCx:n8"Ey$r?/32$9$k$HK!Na$K$h$j=hH3$5$l$k$3$H$,$"$k$3$H$KN10U$7$J$1$l$P$J$j$^$;$s!#(B



<h3><a name="article4">$BBh(B4$B>r!JL5J]>Z!K(B</a></h3>

<p>(1) $BK\%=%U%H%&%'%"5Z$SK\5vBz5,Dj$O!$G[I[;~E@$G$N>uBV$G<h$j$^$H$a$?$b$N$G!$$$$+$J$kJ]>Z$b$"$j$^$;$s!#$3$NJ]>Z$K$O5!G=@-!$>&IJ@-!$FCDj$NL\E*$X$NE,9g@-$r4^$_$^$9!#(B<br>
The Software and this license are provided AS IS with NO WARRANTY OF ANY KIND, INCLUDING THE WARRANTY OF DESIGN, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.

<p class="term">(2) $BK\%=%U%H%&%'%"$r;HMQ$7$?$3$H$^$?$O;HMQ$7$J$+$C$?$3$H$K5/0x$9$k$$$+$J$kB;32$^$?$OMx1W$NAS<:$,25$K@8$8$F$b!$9C$O@UG$$rIi$$$^$;$s!#(B
<p class="term">(3) $B25$O!$9C$^$?$OK\5vBz5,Dj$K$7$?$,$C$FK\%=%U%H%&%'%"$rDs6!$7$?<T$KBP$7$F2?$i$NJ]>Z$r5a$a$:!$$^$?$OB;32Ge=~$N@A5a$r$7$J$$$b$N$H$7$^$9!#(B
<p class="term">(4) $B9C$O!$K\%=%U%H%&%'%"$K7g4Y$,$"$k$3$H$,H=L@$7$?>l9g$G$b!$$=$N7g4Y$r=$@5$9$k5AL3$rIi$$$^$;$s!#(B



<h3>$BBh(B5$B>r!J;HMQ!K(B</h3>

<p class="term">$B!!25$O!$K\%=%U%H%&%'%"$r%3%s%Q%$%k!$%$%s%9%H!<%k$7!$;HMQ$9$k$3$H$,$G$-$^$9!#(B



<h3>$BBh(B6$B>r!JJ#@=!K(B</h3>

<p class="term">$B!!25$O!$K\%=%U%H%&%'%"$NA4BN$^$?$O0lIt$rJ#@=$9$k$3$H$,$G$-$^$9!#(B

        <!-- $B;29M(B $BCx:n8"K!(B21$B!JJ#@=8"!K!!$3$N8"Mx$OMxMQ<T$K5vBz$9$k(B -->

<h3>$BBh(B7$B>r!J2~JQ!K(B</h3>

<p class="term">(1) $B25$O!$9C$*$h$SBh;0<T$NCx:n8"Ey$r?/32$7$J$$HO0O$G!$K\%=%U%H%&%'%"$r2~JQ$9$k$3$H$,$G$-$^$9!#(B
<p class="term">(2) $BFbMF$rDI2C$^$?$O:o=|$7$b$7$/$OB>$N%G!<%?Ey$rAH$_9~$`$3$H!$$b$7$/$O%"!<%+%$%V7A<0$NJQ99!J(Blzh$B$+$i(Bzip$B$X$NJQ99Ey!K$O2~JQ$K4^$^$l$^$9!#(B
<p class="term">(3) $B25$O!$K\%=%U%H%&%'%"$K$*$1$k9C$NCx:n8"I=<($rJQ99$^$?$O:o=|$9$k$3$H$O$G$-$^$;$s!#(B<br>
You must not alter or remove any copyright notices in the Software.

<p class="term">(4) $B25$O!$K\%=%U%H%&%'%"$K<+$i$NCx:n8"I=<($rDI2C$9$k$3$H$O$G$-$^$;$s!#(B
            <!-- $B;29M(B $BCx:n8"K!(B20$B!JF10l@-J];}8"!K(B -->




<h3><a name="article8">$BBh(B8$B>r!J86:n$NG[I[!K(B</a></h3>
            <!-- $BHRI[8"(B -->

<p class="term">(1) $B25$O!$2~JQ$5$l$F$$$J$$K\%=%U%H%&%'%"!J0J2<!V86:n!W$H$$$$$^$9!#!K$NJ#@=J*$rG[I[!JBh;0<T$,<hF@$G$-$k5-21AuCV$KJ]4I$9$k$3$H$r4^$`!#!K$9$k$3$H$,$G$-$^$9!#(B<br>
You may distribute the Software in unmodified form.

<p class="term">(2) $B25$O!$K\%=%U%H%&%'%"$N0lIt$N$_$rG[I[$9$k$3$H$O$G$-$^$;$s!#(B
<p class="term">(3) $B25$O!$K\%=%U%H%&%'%"$r%"!<%+%$%V%U%!%$%k$+$iE83+$7$?>uBV$GG[I[$9$k$3$H$,$G$-$^$9!#$?$@$7$=$N>l9g!$JL$K%"!<%+%$%V%U%!%$%k$rE:IU$7$J$1$l$P$J$j$^$;$s!#(B
<p class="term">(4) $B25$O!$K\%=%U%H%&%'%"$rG[I[$9$k>l9g!$<!$N3F9f$K7G$2$k;v9`$r>R2pJ8$K5-:\$9$k$J$I9gM}E*$HG'$a$i$l$kJ}K!$K$h$jL@<($7$J$1$l$P$J$j$^$;$s!#$?$@$7K\%=%U%H%&%'%"$,4^$^$l$k%=%U%H%&%'%"<}=8BN$r0l3g$7$FJ#@=!$G[I[$9$k>l9g$O$3$N8B$j$G$O$"$j$^$;$s!#(B
            <!-- $B;29M(B $BCx:n8"K!(B19$B!J;aL>I=<(8"!K(B -->
<p class="n">$B0l!!9C$N;aL>5Z$SO"Mm@h!J%a!<%k%"%I%l%9!K(B
<p class="n">$BFs!!K\%=%U%H%&%'%"$N=P=j(B
<p class="n">$B;0!!K\%=%U%H%&%'%"$,%7%'%"%&%'%"$N$H$-$O$=$N;]$*$h$S;HMQNA(B

<p class="term">(5)$B!!25$O!$K\%=%U%H%&%'%"$rG[I[$9$k>l9g$KBP2A$r<u$1<h$k$3$H$,$G$-$^$9!#$?$@$7K\%=%U%H%&%'%"$,%7%'%"%&%'%"$N$H$-$O9C$K;HMQNA$r;YJ'$o$J$1$l$P$J$i$J$$$3$H$rL@<($7$J$1$l$P$J$j$^$;$s!#(B
<p class="term">(6)$B!!25$O!$K\%=%U%H%&%'%"$rG[I[$9$k>l9g$K9C$N>5Bz$rI,MW$H$7$^$;$s!#(B





<h3>$BBh(B9$B>r!J2~JQJ*$NG[I[!K(B</h3>
        <!-- $B8xI=8"(B -->

<p>2002.01.30 $BK\>r2~@5(B

<p>(1) $B25$O!$86:n$r2~JQ$7$?$b$N$r!$86:n$HJ,N%$7$?7A!JNc$($P%Q%C%A!K$GG[I[$9$k$3$H$,$G$-$^$9!#$?$@$7!$<!$N3F9f$KDj$a$k>r7o$rK~$?$5$J$1$l$P$$$1$^$;$s!#(B<br>
You may distribute your modifications, in a form that is separate from the Software, such as patches. The following restrictions apply to modifications:
<p>a. $B2~JQJ*$O!$86:n$K$"$kCx:n8"I=<($rJQ99$7!$:o=|$7Kt$ODI2C$7$F$O$$$1$^$;$s!#(B<br>
Modifications must not alter, remove or add any copyright notices in the Software.

<p>b. $B25$O!$K\5vBz5,Dj$N2<$G86:n$KBP$9$k2~JQJ*$r8x3+$9$k>l9g!$9C$KEv3:2~JQJ*$rK\%=%U%H%&%'%"$N>-Mh$NHG$KAH$_9~$`8"Mx$r5vBz$9$k$b$N$H$7$^$9!#$^$?!$25$O!$$$$+$J$k>l9g$G$bEv3:2~JQJ*$K$D$$$F9C$K%m%$%d%j%F%#!<$r@A5a$;$:!$9C$,Ev3:>-Mh$NHG$rB>$N%i%$%;%s%9$GDs6!$9$k>l9g$b$^$?F1$8$H$7$^$9!#(B<br>
When modifications to the Software are released under this license, a non-exclusive royalty-free right is granted to the initial developer of the Software to distribute your modification in future versions of the Software provided such versions remain available under 
these terms in addition to any other license(s) of the initial developer.

<p>(2) $B25$O!$2~JQJ*$r8x3+$9$k>l9g!$86:n$H2~JQJ*$H$NF0:n>e$N0c$$$rL@<($7$J$1$l$P$J$j$^$;$s!#(B

<p>(3) $B25$O!$2~JQJ*$r8x3+$7$?$H$-$O!$B.$d$+$K$=$N;]$r9C$KDL9p$9$k$3$H$,K>$^$7$$!#(B

<p>(4) $B:o=|(B

<p>(5) $B2~JQJ*$r<u$1<h$C$?<T$O!$Ev3:2~JQJ*$r$5$i$K2~JQ$7$J$$8B$j!$Bh(B8$B>r$N5,Dj$K=`$8$FEv3:2~JQJ*$rG[I[$9$k$3$H$,$G$-$^$9!#(B




<h3>$BBh(B10$B>r!JK\%=%U%H%&%'%"$rAH$_9~$s$@%=%U%H%&%'%"!K(B</h3>

<p class="term">(1) $B25$O!$25$N@):n$9$k%=%U%H%&%'%"$KK\%=%U%H%&%'%"$N0lIt$^$?$OA4It$r!$9C$N=qLL$K$h$k>5Bz$rF@$?>e$GAH$_9~$`$3$H$,$G$-$k!#(B

<p class="term">(2) $BK\%=%U%H%&%'%"$N$&$A6O$+$+$D=EMW$G$J$$ItJ,$N$_$r25$N@):n$9$k%=%U%H%&%'%"$KAH$_9~$`>l9g$O!$9C$N>5Bz$OITMW$H$9$k!#(B



<h3>$BBh(B11$B>r!J7@Ls$N=*N;!K(B</h3>
<p class="term">(1) $B25$O!$$$$D$G$bK\7@Ls$r2rLs$7!$=*N;$5$;$k$3$H$,$G$-$^$9!#(B
<p class="term">(2) $B9C$O!$25$,K\5vBz5,Dj$K0cH?$7$?>l9g!$K\7@Ls$r2r=|$7!$=*N;$5$;$k$3$H$,$G$-$^$9!#(B
<p class="term">(3) $B:o=|(B
<p class="term">(4) $B:o=|(B
<p class="term">(5) $BK\7@Ls$,=*N;$7$?>l9g!$25$O!$B.$d$+$KK\%=%U%H%&%'%"$*$h$SJ#@=J*$r>C5n$7$J$1$l$P$J$j$^$;$s!#$?$@$7K\%=%U%H%&%'%"$N%"!<%+%$%V%U%!%$%k!$$b$7$/$OK\%=%U%H%&%'%"$r=q$-49$($G$-$J$$G^BN$G<u$1<h$C$?>l9g$O$3$N8B$j$G$O$"$j$^$;$s!#(B
<p class="term">(6) $B25$O!$K\7@Ls$N=*N;$K4X$7$F!$9C$^$?$OK\%=%U%H%&%'%"$rDs6!$7$?<T$KJd=~6b$=$NB>$r@A5a$9$k$3$H$O$G$-$^$;$s!#(B
<p class="term">(7) <a href="#article4">$BBh(B4$B>r(B</a>$B$N5,Dj$O!$K\7@Ls$,=*N;$7$?$"$H$b!$8zNO$,B8B3$9$k$b$N$H$7$^$9!#(B







<h1>$B2~HGMzNr(B</h1>

<p>$B$3$N2~HGMzNr$O!$%=%U%H%&%'%";HMQ5vBz7@Ls=q$N0lIt$G$O$"$j$^$;$s!#(B

<p>2002.01.30 $BBh(B9$B>r!J2~JQJ*$NG[I[!K$r2~@5$7$?!#1Q8l$rIU$1$kI,MW$,$"$C$?$N$G!$=q$$$F$"$k0UL#$,J,$+$C$?!$(BThe Q Public License Version 1.0$B$NBh(B3$B>r$r!$<c43=$@5$7$F<h$j9~$s$@!#(B



<hr>
<P align=center><font face="Times New Roman"><i>
Copyright (c) 1996-2002 <A HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>
All rights reserved.<br><br>
<a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>
</i></font>
</BODY>
</HTML>

