<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Software Common Help</TITLE>
    <LINK rel="stylesheet" href="default.css" type="text/css">
</HEAD>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">

<H1>$BAw6b$K$D$$$F(B</H1>
<HR>



<H2>$B%7%'%"%&%'%"(B</H2>

<P>$B!!<!$K7G$2$k%=%U%H%&%'%"!J0J2<!VK\%=%U%H%&%'%"!W$H$$$$$^$9!#!K$O%7%'%"%&%'%"(B<SUP><A HREF="words.htm">*</A></SUP>$B$G$9!#7QB3$7$F!J;nMQ4|4V$rD6$($F!K;HMQ$9$k;~$O:n<T$K;HMQNA$r;YJ'$o$J$1$l$P$J$j$^$;$s!#$3$l$O;HMQ$NBP2A$G$"$C$F4sIU$G$O$"$j$^$;$s!#(B

<UL>
    <LI>Q's Nicolatter (Windows$BHG(B)
    <LI>Q's Internet Link Manager
</UL>

<P>$B;nMQ4|4V$O(B3$B=54V$rL\0B$H$7$^$9!#(B

<P>$BAw6b$7$F$/$@$5$k$H!$%P!<%8%g%s%"%C%W;~$K$40FFb$r:9$7>e$2$F$$$^$9!#(B

<p>$B%$%s%?!<%M%C%H$K%"%/%;%9$G$-$F!$Hf3SE*?7$7$$%V%i%&%6$r;H$C$F$$$l$P!$0J2<$N%Z!<%8$+$iAw6b$G$-$^$9!#(B
<ul>
    <li><a href="https://sw.vector.co.jp/swreg/step1.reserve?srno=SR001607">$B%7%'%"%l%8!&%5!<%S%9(B STEP1_2$B!'(BQ's Nicolatter</a>
    <li><a href="https://sw.vector.co.jp/swreg/step1.reserve?srno=SR006751">$B%7%'%"%l%8!&%5!<%S%9(B STEP1_2$B!'(BQ's Internet Link Manager</a>
</ul>

<P>$B!!%i%$%;%s%9K\?t$,(B2$BK\0J>eEy$N$H$-$O!$6d9T?69~$^$?$OM9JX?6BX$r$4MxMQ$/$@$5$$!#(B
<P>$B!!EE;R%a!<%k!&%"%I%l%9$r$*;}$A$G$J$$J}$O!$M9JX?6BX$r$4MxMQ2<$5$$!#$?$@$7%P!<%8%g%s!&%"%C%W$N$40FFb$r:9$7>e$2$i$l$^$;$s!#(B

<P>$B!!$$$C$?$sAw6b$5$l$?$*6b$O$$$+$J$kM}M3$,$"$C$F$b$*JV$7$G$-$^$;$s!#(B






<H2>$BAw6b$9$Y$-6b3[(B</H2>

<TABLE BORDER=1>
<TR><TH>$B%=%U%H%&%'%"L>(B           <TH>$BI8=`2A3J(B       <TH nowrap>10$BK\$rD6$($kItJ,(B
<TR><TD>Q's Nicolatter           <TD nowrap>$B#2!$#2#0#01_(B   <TD>$B#1!$#3#0#01_(B
<tr><td>Q's Internet Link Manager<td>$B#2!$#8#0#01_(B   <td>$B#1!$#6#0#01_(B
</TABLE>

<p>$B!!Nc$($P(BQ's Nicolatter$B$GK\?t$,(B35$BK\$N$H$-!$(B
<pre>
$B!!!!!w!o(B2,200$B!_(B10$B!a(B22,000
$B!!!!!w!o(B1,300$B!_(B25$B!a(B32,500
$B!!!!(B---------------------
$B!!!!!!!!!!!!!!(B   $B!o(B54,500
</pre>

$B$H$J$j$^$9!#(B






<H3>$BK\?t$N?t$(J}(B</H3>

<P>$B!!K\?t$O!$F1;~$K;H$&?M?t$H$7$^$9!#Nc<($9$k$J$i!$$*$*$`$M<!$NDL$j$G$9!#(B

<OL>
<LI>$B!!(B1$BBf$N%3%s%T%e!<%?$KK\%=%U%H%&%'%"$r%$%s%9%H!<%k$7$F!$(B1$BBf$N%3%s%T%e!<%?$GJ#?t$N<T$,;HMQ$9$k$H$-!$(B1$BK\(B

<LI>$B!!%5!<%P!<$KK\%=%U%H%&%'%"$r%$%s%9%H!<%k$7$F!$J#?t$N%3%s%T%e!<%?$GJ#?t$N<T$,;HMQ$9$k$H$-!$$=$N?M?t(B

<LI>$B!!J#?t$N%3%s%T%e!<%?$KK\%=%U%H%&%'%"$r%$%s%9%H!<%k$7$F!$$?$+$@$+(B1$B?M$G;HMQ$9$k$H$-!$(B1$BK\(B
<LI>$B!!J#?t$N%3%s%T%e!<%?$KK\%=%U%H%&%'%"$r%$%s%9%H!<%k$7$F!$F1;~$KJ#?t$N<T$,;HMQ$9$k$H$-$O!$$=$N?M?t(B

</OL>















<HR>
<H2>$B%U%j!<%=%U%H!J4sIU4?7^!K(B</H2>

<P>$B!!<!$K7G$2$k%=%U%H%&%'%"$O1DMxL\E*$r=|$-L5NA$G$9!#$7$+$7!$$G$-$l$P$44sIU$r$*4j$$$$$?$7$^$9!#$44sIU2<$5$C$?$*6b$OA4$F3+H/4D6-$N=<<B$J$I$K;H$o$l$^$9!#(B

<P>$B!!Aw6b$7$F$/$@$5$k$H!$%P!<%8%g%s%"%C%W$N;~$K$40FFb$r:9$7>e$2$F$$$^$9!#(B

<P>$B!!$44sIU$O!$6d9T?69~$^$?$OM9JX?6BX$r$4MxMQ$/$@$5$$!#(B

<P>$B!!EE;R%a!<%k!&%"%I%l%9$r$*;}$A$G$J$$J}$O!$M9JX?6BX$r$4MxMQ2<$5$$!#$?$@$7%P!<%8%g%s!&%"%C%W$N$40FFb$r:9$7>e$2$i$l$^$;$s!#(B





<UL>
    <LI>IE Favorites Collector
    <LI>Q's Calc
    <LI>Q's ResAlarm
    <LI>Q's SP Wrapper
    <li>Q's Nicolatter for X
</UL>








<HR>
<H2>$B6d9T?69~(B</H2>

<TABLE BORDER=1>
<TR><TH>$B6bM;5!4XL>(B<TD>$BEl5~;0I)6d9T(B
<TR><TH>$BE9J^L>(B<TD>$B?7Bg:e;YE9!JE9HV(B523$B!K(B
<TR><TH>$B8}:BHV9f(B<TD>$BIaDL(B0358845
<TR><TH>$BL>5A?M(B<TD>$BKY@n(B $B5W!J$[$j$+$o(B $B$R$5$7!K(B
</TABLE>

<P>$B!!6d9T?69~$N>l9g!$Aw6b$N8e!$:n<T$^$G$=$N;]%a!<%k$7$F2<$5$k$h$&$*4j$$$$$?$7$^$9!#%a!<%k$K$O<!$N;v9`$r$*=q$-2<$5$$!#(B

<UL>
    <LI>$B%=%U%H%&%'%"L>(B
    <LI>$BK\?t(B
    <LI>$BEPO?$9$kMxMQ<TL>(B
    <LI>$BEE;R%a!<%k!&%"%I%l%9(B
</UL>

<P>$B!!Be6b$N<u$1<h$j8e!$$3$A$i$+$i3NG'$9$k$3$H$O$"$j$^$;$s!#(B








<HR>
<H2>$BM9JX?6BX(B</H2>

<TABLE BORDER=1>
<TR><TH>$B8}:BHV9f(B<TD>00900-8-15760
<TR><TH>$B8}:BL>>N(B<TD>$BKY@n(B $B5W(B
</TABLE>


<P>$B!!M9JX6I$+$iDLCN$,FO$/$N$G!$Aw6b$7$?8e!$:n<T$K3NG'$N%a!<%k$r$*Aw$j2<$5$kI,MW$O$"$j$^$;$s!#(B

<P>$B!!Be6b$N<u$1<h$j8e!$$3$A$i$+$i3NG'$9$k$3$H$O$"$j$^$;$s!#(B


<P>$B!!M9JX?6BX$N>l9g!VJ'9~<h07I<!W$H$$$&MQ;f$r;H$$$^$9!#DL?.Ms$K0J2<$N;vJA$r\4=q$G$*=q$-2<$5$$!#(B

<UL>
    <LI>$B%=%U%H%&%'%"L>(B
    <LI>$BK\?t(B
    <LI>$BEPO?$9$kMxMQ<TL>(B
    <LI>$BEE;R%a!<%k!&%"%I%l%9$^$?$O=;=j(B
</UL>














<hr>
<P align=center><font face="Times New Roman"><i>
Copyright (c) 1996-2002 <A HREF="mailto:vzw00011@nifty.ne.jp">Hisashi HORIKAWA</a>.<br>
All rights reserved.<br><br>
<a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>
</i></font>

</BODY>
</HTML>
