<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Software Common Help</TITLE>
    <LINK rel="stylesheet" href="default.css" type="text/css">
</HEAD>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">


<H1>$B<ALd!&MWK>!&%P%0Js9p(B</H1>
<HR>



<P>$B!!<ALd!&MWK>!&%P%0Js9p$=$NB>$K$D$$$F$O!$Aw6b$NM-L5$O4X78(B<span style="color:red">$B$"$j$^$;$s!#(B</span>$B$*5$7Z$K$I$&$>!#(B



<hr>
<H2>$BO"Mm@h(B</H2>

<p>$B!!MWK>$J$I$O!$86B'$H$7$F!$EE;R%a!<%k$G(B&lt;<A HREF="mailto:vzw00011@nifty.ne.jp">vzw00011@nifty.ne.jp</A>>$B$^$G$*4j$$$$$?$7$^$9!#(B






<hr>
<H2>$B5-:\;v9`(B</H2>

<P>$B!!%P%0Js9p$J$I$r$*4s$;$/$@$5$k$H$-!$<!$N$3$H$r$*CN$i$;$/$@$5$$!#(B

<UL>
    <LI>$B$I$N$h$&$J5sF0$r<($9$+!#(B
    <LI>$B:F8=$G$-$k$+!#$G$-$k$J$i$I$N$h$&$J<j=g$G:F8=$G$-$k$+!#(B
</UL>


<p>$B!!(BWindows$BHG$G$J$$>l9g$O!$(BOS$B$NL>A0!$%P!<%8%g%s!$(BLinux$B$J$i%G%#%9%H%j%S%e!<%7%g%s$NL>A0!$%P!<%8%g%s$J$I!$$I$N$h$&$J4D6-$GF0:n$5$;$?$N$+$rI,$:$*=q$-$/$@$5$$!#$^$?!$%W%m%0%i%`$,0[>o=*N;$9$k>l9g$K$O!$(Bbacktrace$B$rE:IU$7$F$/$@$5$$!#<!$N$h$&$K$7$^$9!#(B

<pre>
$ <u>gdb a.out</u>      &lt;-- gdb $B%W%m%0%i%`(B
(gdb) <u>run</u>
...
Program received signal SIGSEGV, Segmentation fault.    &lt;-- $B2?$+$7$i%(%i!<%a%C%;!<%8(B
(gdb) <u>backtrace</u>
#0  0x8048586 in test (p=0x0) at fail.cc:7      &lt;--  $B$3$l(B
#1  0x80485a4 in main () at fail.cc:13
(gdb) <u>quit</u>
$
</pre>








<hr>
<P align=center><font face="Times New Roman"><i>
Copyright (c) 1996-2002 <A HREF="mailto:vzw00011@nifty.ne.jp">Hisashi HORIKAWA</a>.<br>
All rights reserved.<br><br>
<a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>
</i></font>

</BODY>
</HTML>
